# Ignore Vagrant files
**/.vagrant

# Ignore Bundle files
**/.bundle/*

# Ignore Kitchen files
**/.kitchen/
**/.kitchen.local.yml

# Ignore Chef Infra directories
**/.chef

# Ignore git directories
**/.git

# Ignore all Berksfile.lock
**/Berksfile.lock
